{% extends 'blog/base.html' %}

{% block content %}

    {%for post in posts%}
    <article class="card-body">
        <!-- 'post_detail => es un view nuevo '-->
        <h1>Title: <a href="{% url 'post_detail' postId=post.pk %}">{{post.title}}</a></h1>
        <p>{{post.text|linebreaksbr}}</p>
        <p>{{post.published_date}}</p>    

        <!--<strong><a href="{% url 'post_detail' postId=post.pk %}">Comments: {{post.comments.count}}</a></strong>-->
        <strong><a href="{% url 'post_detail' postId=post.pk %}">Comments: {{post.approved_comments.count}}</a></strong>

    </article>
    {% endfor %}

{% endblock %}
