<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DjangoGirl Example</title>
</head>
<body>
    <h1>Django Example Girls</h1>

    <p>Hola Soy un Nuevo parrafo del Blog</p>

    {%for post in posts%}
    <section>
        <h1>Title: <a href="">{{post.title}}</a></h1>
        <p>{{post.text|linebreaksbr}}</p>
        <p>{{post.published_date}}</p>
    </section>
    {% endfor %}
</body>
</html>