h1, a {
    color: #FCA205;
    font-family: 'Lobster';
}
/* h1 {
    color: burlywood;
} */

.header-Blog 
{
    background-color:  #7BF9E2;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}


.top-menu{
    color: #ffffff;
    float: right;
    font-size: 30pt;
    margin-right: 20px;
}
